var TIMEOUT = 40; // задержка до показа видео (секунды)
var FADE_DURATION = 700; // длитетельность плавного перехода от плана этажей к видео (миллисекунды)
var VIDEO_LIST_FILENAME = 'list.txt'; // имя файла с перечнем видео
var VIDEO_PATH = 'file://%KIOSK_HOME%/assets/video'; // путь к директории, содержащей видео для показа
var AD_BLOCK_DURATION = 30; // продолжительность "рекламного блока"
